@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

:root {
    --bgColorPrimary: rgba(15, 15, 15, 0.6);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Carlito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logo {
    width: 9rem;
    position: absolute;
    top: .625rem;
    left: 0;
    right: 0;
    margin: auto;
}

.upLeft,
.upRight {
    position: absolute;
    background: var(--bgColorPrimary);
    top: 4%;
    border-radius: 1.875rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
.upLeft {
    left: 1.5%;
}

.upRight {
    right: 1.5%;
}

.upLeft .ph-map-pin,
.upRight .ph-microphone,
.upRight .ph-clock {
    color: rgba(255, 255, 255, 0.8);
    margin-right: .7rem;
}

.upRight .voipLevel {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    transition: all 1s;
    margin-right: 0.5rem;
}

.upRight .spacer {
    width: 0.1rem;
    height: 1rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    margin: 0 .5rem;
}

.upRight .ph-clock {
    margin-left: 0.5rem;
}

.upLeft .streetName,
.upRight .time {
    color: rgba(255, 255, 255, 1);
}

.hud {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1.5%;
    bottom: 4%;
}

.hud .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hud .info .item {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--bgColorPrimary);
    display: flex;
    overflow: hidden;
    align-items: flex-end;
}

.hud .info .item:not(:last-child) {
    margin-right: .7rem;
}

.hud .info .item .iconMask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hud .info .item .iconMask .ph-heart,
.hud .info .item .iconMask .ph-shield,
.hud .info .item .iconMask .ph-fork-knife,
.hud .info .item .iconMask .ph-drop {
    color: rgba(255, 255, 255, 0.8);
}

.hud .info .item .status {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.hud .info .item#life .status {
    background: rgba(191, 11, 59, 1);
}

.hud .info .item#shield .status {
    background: rgba(50, 123, 168, 1);
}

.hud .info .item#hunger .status {
    background: rgba(186, 65, 22, 1);
}

.hud .info .item#thirst .status {
    background: rgba(29, 156, 180, 1);
}

.velocimetro {
    width: 100%;
    height: 43%;
}

.cinto img {
    width: 20px;
}

.speed {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Jura';
    font-size: 25px;
    margin-top: 19%;
    text-align: center;
}

.km {
    font-size: 13px;
    margin-top: 1%;
    text-align: center;
}

.fuelback {
    width: 100%;
    margin-top: 7%;
    height: 10px;
    border-radius: 10px;
    background: rgb(15, 15, 15, 0.6);
}

.fueldentro {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    transition: all 1s;
    background: rgb(214, 105, 16);
}

.cinto {
    width: 15px;
    margin-top: -27.5%;
    margin-left: 87%;
}

.lock {
    width: 13px;
    margin-top: -17%;
    margin-left: 87.5%;
}

.veloBar {
    height: 279.2px;
    width: 279.2px;
    clip-path: path(
        'M223.448477,218.666668Q195.793012,218.666668,142.837241,218.666668C89.881469,218.666668,82.108145,240.722757,59.759837,265.202592L53.448477,265.202592L56.492046,261.098522C78.840353,236.618687,86.613678,214.562598,139.569449,214.562598Q192.525221,214.562598,223.448477,214.562598L223.448477,218.666668Z'
    );
    background-color: var(--bgColorPrimary);
    top: -140%;
    left: -27%;
}

.veloFill {
    height: 100vh;
    background-color: white;
    transition: all 0.5s;
    transform: translate(54px, 102px);
}
